.calculator {
  width: 260px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 20px;
  background: #222;
  color: white;
}

.screen {
  background: #000;
  padding: 20px;
  font-size: 32px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 15px;
}
